version: '3.8'

services:
  zookeeper:
    image: zookeeper:3.5.9
    container_name: zookeeper
    privileged: true
    ports:
      - "2181:2181"
    volumes:
      - /Users/jueduilingdu/project/zookeeper/data:/data
      - /Users/jueduilingdu/project/zookeeper/conf:/conf
      - /Users/jueduilingdu/project/zookeeper/logs:/datalog
    environment:
      - ZOO_MY_ID=1
    networks:
      - kafka-network

  kafka:
    image: wurstmeister/kafka
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 0
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181/kafka
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
    depends_on:
      - zookeeper
    networks:
      - kafka-network

networks:
  kafka-network:
    driver: bridge